<!-- Inicio de la seccion Busqueda -->
    <section class="busqueda">
        <div class="contenedor">
            <form action="">
                <input type="search" name="search" placeholder="Buscar platos...">
                <input type="submit" name="submit" value="Buscar" class="boton boton-color">
            </form>
        </div>
    </section>
    <!-- Fin de la seccion Busqueda -->