<!-- Inicio de la seccion Categorias -->
    <section class="categorias">
        <div class="contenedor">
            <h2 class="text-centro">Categorías</h2>
            
          {{ getCategoria }}
                 
            <div class="limpiar"></div>
        </div>
    </section>
    <!-- Fin de la seccion Categorias -->