    <!-- Inicio de la seccion Footer -->
    <section class="footer">
        <div class="contenedor">
            <p>Todos los derechos reservados. Diseñado por <a href="#">Software - ESPE</a></p>
        </div>
    </section>
    <!-- Fin de la seccion Footer -->
    
</body>
</html>