<!-- Inicio de la seccion comidas -->
    <section class="menu-comidas">
        <div class="contenedor">
            <h2 class="texto-centro">Nuestro Menú</h2>
           {{ getPlatos }}
               
                 
            <div class="limpiar"></div>
        </div>
    </section>
    <!-- Fin de la seccion comidas -->