<!-- Inicio de la seccion Navbar -->
    <section class="navbar">
        <div class="contenedor">
            <div class="logo">
                <img src="imagenes/logo.png" alt="Logo Restaurante" class="img-responsive">
            </div>
            <div class="menu text-derecha">
                <ul>
                    <li>
                        <a href="#">Inicio</a>
                    </li>
                    <li>
                        <a href="#">Conócenos</a>
                    </li>
                    <li>
                        <a href="#">Platos</a>
                    </li>
                    <li>
                        <a href="#">Contáctanos</a>
                    </li>
                </ul>
            </div>
            <div class="limpiar"></div>
        </div>
    </section>
    <!-- Fin de la seccion Navbar -->