<!-- Inicio de la seccion redes sociales -->
    <section class="redes">
        <div class="contenedor text-centro">
            <h2>Siguenos en...</h2>
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/office/30/000000/facebook-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/officexs/30/000000/instagram-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/offices/30/000000/twitter.png"/></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- Fin de la seccion redes sociales -->